{{#> admin}}
  {{#*inline "content"}}
  
    <div class="text-lg font-bold mb-3 flex justify-between">
      <div>
          All Users
      </div>
      <a href="create" class="px-4 py-3 text-white font-bold bg-blue-700 rounded-lg cursor-pointer">
        Add Users
      </a>
      
    </div>
 <div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table
          class="min-w-full text-center text-sm font-light text-surface dark:text-white">
          <thead
            class="border-b border-neutral-200 bg-blue-800 font-medium text-white dark:border-white/10">
            <tr>
              <th scope="col" class=" px-6 py-4">#</th>
              <th scope="col" class=" px-6 py-4">Username</th>
              <th scope="col" class=" px-6 py-4">Email</th>
               <th scope="col" class=" px-6 py-4">Admin</th>
              <th scope="col" class=" px-6 py-4">Action</th>
              
            </tr>
          </thead>
          <tbody>
            
           {{#each viewData.users}}
           
            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap  px-6 py-4 font-medium">{{ @index }}</td>
              <td class="whitespace-nowrap  px-6 py-4 text-gray-900">{{ name }}</td>
              <td class="whitespace-nowrap  px-6 py-4">{{ email }}</td>
               <td class="whitespace-nowrap  px-6 py-4">{{ role }}</td>
              <td class="whitespace-nowrap  px-6 py-4 flex gap-x-3 justify-center items-center">
                <a href="delete/{{id}}"  
                    class="text-red-800">
                    delete

                </a>
               
                 <a href="edit/{{id}}">edit</a>

              </td>
            </tr>
            {{/each}}
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  {{/inline}}
{{/admin}}